<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>New Employee</title>
    <script src="../Scripts/jquery-1.9.1.js"></script>
    <script src="../Scripts/angular.js"></script>
    <script src="../Scripts/Module/module.js"></script>
    <script src="../Scripts/bootstrap.js"></script>
    <link href="../Content/bootstrap.css" rel="stylesheet" />
    <script src="../Scripts/CustomerDirective/FirstCustomDirective.js"></script>
    <script src="../Scripts/Controller/newEmpController.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-model="myApp" ng-controller="newEmpController">
        <form name="empForm">
            <div class="control-group">
                <div class="control-group h3">
                    <label name="btmNewEmp" type="submit">New Employee</label>
                </div>
                <div>
                    <label class="control-label">Name:</label>
                    <input type="text" name="name" ng-model="name" placeholder="Please enter name" ng-required="true" />
                </div>
                <div>
                    <label class="control-label">Designation:</label>
                    <input type="text" name="designation" placeholder="Please enter disgnation" />
                </div>
                <div>
                    <label class="control-label">DOJ:</label>
                    <input type="text" name="doj" ng-model="doj" placeholder="MM/DD/YYYY" ng-required="true" ng-pattern="/\d\d/\d\d/\d\d\d\d/" />
                </div>
                <div>
                    <label class="control-label">Email:</label>
                    <input type="text" name="email" ng-model="email" placeholder="Please enter email id" ng-required="true"
                           ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" />
                </div>
                <div class="control-group">
                    <button name="btmSubmit" ng-disabled="empForm.$invalid" class="btn btn-success"
                            type="submit" ng-click="SaveForm(empForm)">
                        Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>